{% load static %}
<!-- templates/search.html -->

<h1>
    <a href="/">PoPo</a> 
</h1>

<html>
    <head>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
        <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    </head>
    <body class="bg-white">
        <table class="table table-striped">
            <thead>
                {% if object_list %}
                    <tr>
                        <td colspan="5">
                            <h2>입력과 가장 유사한 정책분류는 {{ object_list.first.분류 }}입니다. 유사 정책의 수는 {{ object_list|length }}개 입니다.</h2>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%"><b>지역명</b></td>
                        <td style="width: 10%"><b>지역구명</b></td>
                        <td style="width: 10%"><b>정당명</b></td>
                        <td style="width: 10%"><b>의원명</b></td>
                        <td style="width: 60%"><b>정책설명</b></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">
                            <h2>유사 정책이 없습니다.</h2>
                        </td>
                    </tr>
                {% endif %}
            </thead>
            <tbody>
                {% if object_list %}
                    {% for politic_data in object_list %}
                        <tr>
                            <td style="width: 10%">
                                {{politic_data.지역명}}
                            </td>
                            <td style="width: 10%">
                                {{politic_data.지역구명}}
                            </td>
                            <td style="width: 10%">
                                {{politic_data.정당명}}
                            </td>
                            <td style="width: 10%">
                                {{politic_data.의원명}}
                            </td>
                            <td style="width: 60%">
                                <a href="../visualized/{{ politic_data.정책_index }}">{{ politic_data.정책설명|linebreaks }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </body>
</html>